@font-face {
  font-family: "robotoslab";
  src: url("./fonts/RobotoSlab-Regular.ttf");
  src: url("./fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "expletusSans";
  src: url("./fonts/ExpletusSans-Regular.ttf");
  src: url("./fonts/ExpletusSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf");
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
