html
  font-size 12px

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'roboto', sans-serif
h1
  font-family 'robotoslab', sans-serif;
  font-weight bold
  margin 0

nav
  h1
    font-family 'expletusSans', sans-serif;
    font-weight bold
    margin 0

h2,h3,h4,h5,h6
  font-weight bold
  margin 0
  font-family 'ubuntu', sans-serif

h5
  font-size 1.5em
